*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	position: relative;
}
$screen-size:320px,375px,360px,412px,414px,768px;
@font-face {
  font-family: 'iconfont';  /* project id："162162" */
  src: url('http://at.alicdn.com/t/font_w40vpidxfk5oecdi.eot');
  src: url('http://at.alicdn.com/t/font_w40vpidxfk5oecdi.eot') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_w40vpidxfk5oecdi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_w40vpidxfk5oecdi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_w40vpidxfk5oecdi.svg#iconfont') format('svg');
}
html{
    font-size: 100px;
    .box{
        width: 100%;
        height: 100%;
        background: url(../img/1.jpg);
//      background: #19181D;
        .header{
            width: 100%;
            height: 2rem;
            background: rgba(#19181D,0.4);
            .touxiang{
                font-family: "iconfont";
                color: #fff;
                font-size: 7em;
                float: left;
                margin-left: 5%;
                margin-top:0.4rem ;
            }
            .xx{
                width: 20%;
                height: 2rem;
                float: right;
                margin-right: 5%;
                text-align: center;
                padding-top: 0.6rem;
                p{
                    width:50%;
                    height: 3%;
                    background: #fff;
                    margin: 0 auto;
                    margin-bottom:0.3rem;
                }
            }
        }
        .date{
            width: 100%;
            height: 1.5rem;
            background: #26252B;
            line-height: 1.5rem;
            .sousuo{
                font-family: "iconfont";
                color: #fff;
                font-size: 5em;
                float: right;
                margin-right: 5%;
            }
            input{
                width: 90%;
                height: 1.2rem;
                background: #fff;
                margin-left: 5%;
                font-size: 3em;
            }
            .add{
                width: 0.8rem;
                height: 0.8rem;
                background: #000;
                line-height: 0.8rem;
                border-radius: 50%;
                text-align: center;
                font-family: "iconfont";
                color: #fff;
                font-size: 7em;
                margin-right: 5%;
                position: absolute;
                right:3%;
                top:0.3rem;
            }
        }
        .bg{
           background: url(../img/2.jpg);
           .todolist{
                width: 100%;
                height: 12.2rem;
                background: rgba(#19181D,0.8);
                li{
                    width: 100%;
                    height: 1.5rem;
                    color: #fff;
                    .line{
                        width: 20%;
                        height: 100%;
                        float: left;
                        p{
                            width: 1px;
                            height: 40%;
                            border-left: 1px solid #fff;
                            margin-left:50% ;
                        }
                        .b{
                            width: 20%;
                            height: 20%;
                            background: deeppink;
                            margin-left:40% ;
                        }
                    }
                    .content{
                        width: 65%;
                        height: 100%;
                        font-size: 6em;
                        color: #fff;
                        line-height: 1.5rem;
                        float: left;
                        position: absolute;
                        left:20% ;
                    }
                    .list{
                        width: 9%;
                        height: 0.8rem;
                        background:#646470;
                        text-align: center;
                        line-height: 0.8rem;
                        font-size: 0.7rem;
                        color: #fff;
                        position: absolute;
                        right:10%;
                        bottom:20%;
                        display: none;
                        }
                    }
                   li.down{
                        background: #26252B;
                        
                        .content{
                            text-decoration:line-through;
                        }
                        .list{
                            display: block;
                        }
                    }  
                } 
        }
        
        .footer{
            width: 100%;
            height: 1.5rem;
            background: #26252B;
            position: fixed;
            bottom: 0;
            left:0;
            div{
                width: 33.33%;
                height: 100%;
                float: left;
                text-align: center;
                img{
                    width: 35%;
                    margin-top: 10px;
                }
            }
            .active{
                background:#26252B;
                color:#fff;
                font-size: 3em;
            }
        }
    }
}
body{
    font-size: 16px;
}
$design-size:750px;
@each $w in $screen-size{
    @media screen and (min-width:#{$w}){
        html{
            font-size: 100px * $w/$design-size;
        }
    }
}