@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
}
html {
  font-size: 100px;
}

html .box {
  width: 100%;
  height: 100%;
  background: url(../img/1.jpg);
}

html .box .header {
  width: 100%;
  height: 2rem;
  background: rgba(25, 24, 29, 0.4);
}

html .box .header .touxiang {
  font-family: "iconfont";
  color: #fff;
  font-size: 7em;
  float: left;
  margin-left: 5%;
  margin-top: 0.4rem;
}

html .box .header .xx {
  width: 20%;
  height: 2rem;
  float: right;
  margin-right: 5%;
  text-align: center;
  padding-top: 0.6rem;
}

html .box .header .xx p {
  width: 50%;
  height: 3%;
  background: #fff;
  margin: 0 auto;
  margin-bottom: 0.3rem;
}

html .box .date {
  width: 100%;
  height: 1.5rem;
  background: #26252B;
  line-height: 1.5rem;
}

html .box .date .sousuo {
  font-family: "iconfont";
  color: #fff;
  font-size: 5em;
  float: right;
  margin-right: 5%;
}

html .box .date input {
  width: 90%;
  height: 1.2rem;
  background: #fff;
  margin-left: 5%;
  font-size: 3em;
}

html .box .date .add {
  width: 0.8rem;
  height: 0.8rem;
  background: #000;
  line-height: 0.8rem;
  border-radius: 50%;
  text-align: center;
  font-family: "iconfont";
  color: #fff;
  font-size: 7em;
  margin-right: 5%;
  position: absolute;
  right: 3%;
  top: 0.3rem;
}

html .box .bg {
  background: url(../img/2.jpg);
}

html .box .bg .todolist {
  width: 100%;
  height: 12.2rem;
  background: rgba(25, 24, 29, 0.8);
}

html .box .bg .todolist li {
  width: 100%;
  height: 1.5rem;
  color: #fff;
}

html .box .bg .todolist li .line {
  width: 20%;
  height: 100%;
  float: left;
}

html .box .bg .todolist li .line p {
  width: 1px;
  height: 40%;
  border-left: 1px solid #fff;
  margin-left: 50%;
}

html .box .bg .todolist li .line .b {
  width: 20%;
  height: 20%;
  background: deeppink;
  margin-left: 40%;
}

html .box .bg .todolist li .content {
  width: 65%;
  height: 100%;
  font-size: 6em;
  color: #fff;
  line-height: 1.5rem;
  float: left;
  position: absolute;
  left: 20%;
}

html .box .bg .todolist li .list {
  width: 9%;
  height: 0.8rem;
  background: #646470;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.7rem;
  color: #fff;
  position: absolute;
  right: 10%;
  bottom: 20%;
  display: none;
}

html .box .bg .todolist li.down {
  background: #26252B;
}

html .box .bg .todolist li.down .content {
  text-decoration: line-through;
}

html .box .bg .todolist li.down .list {
  display: block;
}

html .box .footer {
  width: 100%;
  height: 1.5rem;
  background: #26252B;
  position: fixed;
  bottom: 0;
  left: 0;
}

html .box .footer div {
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
}

html .box .footer div a{
	font-family: "iconfont";
	display: block;
	font-size: 80px;
  width: 35%;
  margin-top: 10px;
  text-align: center;
  margin: 0 auto;
  color:#fff;
}

html .box .footer .active {
  background: #26252B;
  color: #fff;
  font-size: 3em;
}
html .box .footer .active a {
  color:#AB3149;
}
body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
